.body{
  height: 100%;
  background-image: url('papelparede.jpg');
  background-size: 20%;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.subbody{
  width: 70vw;
  height: 100%;
  background-color: #C8A2C8;
  margin-bottom: 100px;
  text-align: center;
  z-index: 2;
}

.header {
  display: flex;
  background-color: #C8A2C8;
  height: 150px;
  width: 100%;
  font-size: 300%;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.mensagem {
  display: flex;
  background-color: #11745C;
  width: 87.5%;
  height: 130px;
  margin: auto;
  border-radius: 28px;
  font-size: 150%;
  margin-bottom: 20px;
}

.mensagem_imagens {
  display: flex;
  background-color: #bab52a;
  width: 87.5%;
  height: 80px;
  margin: auto;
  border-radius: 28px;
  font-size: 150%;
  margin-bottom: 20px;
}

.mensagem_maquiagem {
  display: flex;
  background-color: #3d1c41;
  width: 87.5%;
  height: 80px;
  margin: auto;
  border-radius: 28px;
  font-size: 150%;
  margin-bottom: 20px;
}

.texto_mensagem {
  margin-left: 2vw;
  width: 100%;
  text-align: center;
}

.exibicao{
  margin: auto;
  width: 88%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.botao{
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  background-color: #11745C;
  border-radius: 19px;
  width: 88%;
  height: 8vh;
  margin-bottom: 20px;
  font-size: 20px;
}

.botao:hover {
  color:#e291e2;
}